<<<<<<< HEAD
.FuturaApp {
  text-align: center;
}

.nav-link {
  padding: .7rem 1rem;
  color:#edd81c;
}

=======
body {
    font-family: 'Odibee Sans', sans;
}
>>>>>>> 4dd7d3f0ab00de7c1b6e96426e6fecdf15a21e5e
